html {
  font-size: 62,5%; }

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.bg-black {
  background-color: black; }

#botonera img {
  width: 100px;
  margin: 10px 50px 10px 0; }

#navbar-darck {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,7rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px 10px; }

.link {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px 30px; }

.link_hover:hoverhover {
  color: white;
  font-weight: 600; }

.hamburguesa {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.pie {
  text-align: left;
  padding: 40px 50px;
  grid-area: footer;
  width: 100%;
  background-color: black; }

.pie__icon--sm {
  padding: 20px 20px 20px 0px;
  left: 40px;
  width: 15%; }

.pie__arrow--sm {
  position: absolute;
  right: 40px; }

.pie__titulo--md {
  font-size: 1,9rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px;
  margin: 0px; }

#h1_titulos {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 0px 20px 10px 10px;
  margin: 4px 20px 4px 30px; }

#h2_subtitulos {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1,5rem;
  font-weight: 600;
  padding: 10px 0px 5px 0px;
  margin: 0px 0px; }

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1,8rem;
  font-weight: 400; }

#h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 400;
  margin: 0 0 10px 0; }

#alineacion_titulo_costado {
  Display: flex; }

#titulo_costado {
  grid-area: barra;
  background-color: white;
  margin: 20px 0 50px 0;
  margin-left: auto;
  padding: 20px;
  position: fixed;
  size: 40%; }

#presentacion__text--grey {
  color: white;
  padding: 20px 10px 20px 10px;
  margin: 5px 20px 5px 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,9rem;
  line-height: 2rem;
  font-weight: 400; }

.gallery {
  margin: 30px 20px 10px 30px; }

/* Estilos de las listas*/
.box_list {
  padding: 20px 10px 20px 50px;
  margin: 10px 50px; }

#titulo {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 15px 5px 15px 40px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  font-size: 1rem;
  font-weight: 600; }

#box_desplegable {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  display: flex;
  color: white;
  padding: 0px 70px;
  margin: 0px auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,9rem;
  line-height: 2rem;
  font-weight: 400;
  align-items: none; }

.btn_base, .btn_inactive {
  color: black;
  background: white;
  padding: 20px 20px;
  margin: 30px 0;
  height: 30px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn_base:hover, .btn_inactive:hover {
    color: grey;
    border-color: grey;
    line-height: 2rem;
    cursor: pointer; }

.btn_inactive {
  color: grey;
  border-color: grey;
  border-radius: 6px; }

/*----transformaciones----*/
.transform:hover {
  transform: translate(50px);
  cursor: pointer;
  transition: transform 1s; }

#scale:hover {
  transform: scale(1.5); }

.translate:hover {
  transform: translate(100px);
  cursor: pointer;
  transition: transform 1s; }

@media screen and (max-width: 600px) {
  .ocultar-div {
    display: none; } }

/*@media screen and (max-width: 600px) {    
    .pie{
        text-align: left;
        padding: 40px auto;
        border-top: solid white 1px;
        grid-area: footer;
        width: 100%;
        background-color: black;
    }
    }

@media screen and (max-width: 600px) {
    .pie__icon--sm{
        padding: 20px 20px 20px 0px;
        width: 0%;
    }
    }*/
