@charset "UTF-8";
html {
  font-size: 62,5%; }

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.bg-black {
  background-color: black; }

.p {
  font-size: 1.9rem;
  line-height: 2rem;
  color: black;
  font-weight: 400;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white; }

.box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background: black;
  border: solid 2px black; }

.h2_galeria {
  line-height: 1.5rem;
  padding: 0px 10px 0px 0px;
  margin: 20px 0px 5px 0px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: black; }

.btn_base, .btn_inactive {
  color: black;
  background: white;
  padding: 20px 80px;
  margin: 30px 0 0 40px;
  height: 30px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 20%; }
  .btn_base:hover, .btn_inactive:hover {
    color: grey;
    border-color: grey;
    line-height: 2rem;
    cursor: pointer; }

.btn_inactive {
  color: grey;
  border-color: grey; }

.btn_center_flex {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center; }

.btn_center {
  color: black;
  background: white;
  padding: 10px 60px;
  margin: 20px 0 50px 0;
  border-style: solid;
  border-color: black;
  text-decoration: none; }
  .btn_center:hover {
    color: grey;
    border-color: grey;
    line-height: 2rem;
    cursor: pointer; }

#navbar-darck {
  background-color: black; }

#botonera img {
  width: 100px;
  margin: 10px 50px 10px 0; }

#navbar-darck {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,7rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px 10px; }

.link {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px 30px; }

.link_hover:hover:hover {
  color: white;
  font-weight: 600; }

.hamburguesa {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.pie {
  text-align: left;
  padding: 40px 90px;
  grid-area: footer;
  width: 100%;
  background-color: black; }

.pie__icon--sm {
  padding: 20px 20px 20px 0px;
  left: 40px;
  width: 20%; }

.pie__arrow--sm {
  position: absolute;
  right: 40px;
  padding: 20px 20px 20px 0px; }

.pie__titulo--md {
  font-size: 1,9rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0px;
  margin: 0px; }

.container-fluid {
  padding: 80px 0 40px 40px; }

#h1_titulos {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-weight: 600;
  padding: 0px 20px 10px 10px;
  margin: 4px 20px 4px 30px; }

#h2_subtitulos {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1,5rem;
  font-weight: 600;
  margin: 90px 20px 30px 40px; }

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1,8rem;
  font-weight: 400; }

.h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  margin: 20px 0 10px 40px; }

#h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 400;
  margin: 0 0 30px 0; }

.div_with {
  width: 100%; }

#alineacion_titulo_costado {
  display: flex; }

.titulo_costado {
  height: fit-content;
  margin: -30px 0 0 0; }

#presentacion__text--grey {
  color: white;
  padding: 20px 10px 20px 10px;
  margin: 5px 20px 5px 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 200; }

.gallery {
  margin: 30px 20px 10px 30px; }

/*-----Estilos de las listas-----*/
.box_list {
  padding: 20px 10px 20px 50px;
  margin: 10px 50px; }

#titulo {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 15px 5px 15px 0px;
  border-bottom: solid black 1px;
  font-size: 0.9rem;
  font-weight: 600; }

#linea {
  padding: 0 0 0 40px;
  list-style: none; }

#box_desplegable {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  display: flex;
  padding: 0px 30px;
  margin: 0px auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,9rem;
  line-height: 2rem;
  font-weight: 400;
  align-items: none; }

/*----estilos de las barras de progreso----*/
.progress_style {
  display: flex;
  height: 0.8rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e0e0e0;
  width: 91%;
  margin: 0 40px;
  color: grey; }

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #b9b9b9;
  transition: width .6s ease; }

/*-----Estilos de párrafos para exp.lab-----*/
.text_box {
  margin: 20px 0px 20px 40px;
  width: 100%; }

.titulo_exp {
  padding: 0px 5px 5px 0;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: black; }

.cargo {
  padding: 5px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: black; }

.detalle {
  padding: 5px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  font-style: italic;
  color: black; }

.año {
  padding: 5px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 30px 0;
  color: black; }

/*-----Estilos de párrafos para input-----*/
.text_box {
  margin: 20px 0px 20px 40px;
  width: 100%; }

.input {
  padding: 50px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  color: lightgray;
  text-decoration: none;
  border-color: lightgrey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%; }

.input_text {
  padding: 100px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  color: lightgrey;
  text-decoration: none;
  border-color: lightgrey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%; }

/*----transformaciones----*/
.transform:hover {
  transform: translate(50px);
  cursor: pointer;
  transition: transform 1s; }

#scale:hover {
  transform: scale(1.1);
  transition: transform 0.5s; }

.translate:hover {
  transform: translate(100px);
  cursor: pointer;
  transition: transform 1s; }

@media screen and (max-width: 600px) {
  .ocultar-div {
    display: none; } }

@media screen and (min-width: 600px) {
  .pie {
    padding: 30px 20px 20px 220px; } }

@media screen and (min-width: 600px) {
  .pie__icon--sm {
    padding: 20px 20px 20px 0px;
    width: 8%; } }

@media screen and (min-width: 600px) {
  #presentacion__text--grey {
    font-size: 1rem; } }

@media screen and (min-width: 600px) {
  .progress_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; } }

@media screen and (min-width: 600px) {
  .progress_box_ind {
    width: 25%;
    margin: 0 0 0 40px; } }

@media screen and (min-width: 600px) {
  .progress_box_ind_2 {
    width: 25%;
    margin: 0 0 0 90px; } }

@media screen and (min-width: 600px) {
  .h4 {
    line-height: 1.4rem;
    font-weight: 400;
    margin: 0; } }

@media screen and (min-width: 600px) {
  .progress_style {
    width: 100%;
    margin: 10px 0px 30px 0; } }

@media screen and (min-width: 600px) {
  .expLab_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; } }

@media screen and (min-width: 600px) {
  .text_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    margin: 20px 5px 20px 40px;
    padding: 0 20px 0 0; } }

@media screen and (min-width: 600px) {
  .titulo_exp {
    padding: 0px 0px 5px 0; } }
