.container-fluid{
   padding: 80px 0 40px 40px;
}


#h1_titulos{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6rem;
    font-weight: 600;
    padding: 0px 20px 10px 10px;
    margin: 4px 20px 4px 30px;     
} 

#h2_subtitulos{
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   line-height: 1,5rem;
   font-weight: 600;
   margin: 90px 20px 30px 40px;    
}

h3{
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.4rem;
   line-height: 1,8rem;
   font-weight: 400;  
}

.h4{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   line-height: 1.4rem;
   font-weight: 400; 
   margin: 20px 0 10px 40px; 
}

#h4{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.8rem;
   line-height: 1.4rem;
   font-weight: 400; 
   margin: 0 0 30px 0; 
}

.div_with{
   width: 100%;
}

#alineacion_titulo_costado{
   display: flex;
}

.titulo_costado{
      height: fit-content;
      margin: -30px 0 0 0;
}

#presentacion__text--grey{
   color:white;
   padding: 20px 10px 20px 10px;
   margin: 5px 20px 5px 30px;
   color:rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   line-height: 2rem;
   font-weight: 200; 
}

.gallery{
   margin: 30px 20px 10px 30px;
}

/*-----Estilos de las listas-----*/

.box_list{
   padding: 20px 10px 20px 50px;
   margin: 10px 50px;
}

#titulo{
   display: inline-block;
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding: 15px 5px 15px 0px;
   border-bottom: solid black 1px;
   font-size: 0.9rem;
   font-weight: 600;
}

#linea{
   padding: 0 0 0 40px;
   list-style: none;
}

#box_desplegable{
   list-style: none;
   text-decoration: none;
   display: inline-block;
   display: flex;
   padding: 0px 30px;
   margin: 0px auto;
   color:rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1,9rem;
   line-height: 2rem;
   font-weight: 400; 
   align-items: none;
}

/*----estilos de las barras de progreso----*/

.progress_style{
   display: flex;
   height: 0.8rem;
   overflow: hidden;
   font-size: .75rem;
   background-color: #e0e0e0;
   width: 91%;
   margin: 0 40px;
   color: grey;
}

.progress-bar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: hidden;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   background-color: #b9b9b9;
   transition: width .6s ease;
}

/*-----Estilos de párrafos para exp.lab-----*/

.text_box{
   margin: 20px 0px 20px 40px;
   width: 100%;
}

.titulo_exp{
   padding: 0px 5px 5px 0;
   font-size: 1.1rem;
   font-weight: 600;
   margin: 0;
   color: black;
}

.cargo{
   padding: 5px 0 0 0;
   font-size: 1rem;
   font-weight: 400;
   margin: 0;
   color: black;
}

.detalle{
   padding: 5px 0 0 0;
   font-size: 1rem;
   font-weight: 400;
   margin: 0;
   font-style: italic;
   color: black;
}

.año{
   padding: 5px 0 0 0;
   font-size: 1rem;
   font-weight: 400;
   margin: 0 0 30px 0;
   color: black;
}

/*-----Estilos de párrafos para input-----*/

.text_box{
   margin: 20px 0px 20px 40px;
   width: 100%;
}

   .input{
      padding: 50px 0 0 0;
      font-size: 1rem;
      font-weight: 400;
      color: lightgray;
      text-decoration: none;
      border-color: lightgrey;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      width: 90%;
      }

   .input_text{
      padding: 100px 0 0 0;
      font-size: 1rem;
      font-weight: 400;
      color: lightgrey;
      text-decoration: none;
      border-color: lightgrey;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      width: 90%;
      }


/*----transformaciones----*/


.transform:hover{
    transform: translate(50px);
    cursor: pointer;
    transition: transform 1s;
}

#scale:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.translate:hover{
    transform: translate(100px);
    cursor: pointer;
    transition: transform 1s;
}   