@media screen and (max-width: 600px) {
    .ocultar-div{
    display:none;
    }
    }

@media screen and (min-width: 600px) {
    .pie{
    padding: 30px 20px 20px 220px;
    }
    }

@media screen and (min-width: 600px) {
    .pie__icon--sm{
    padding: 20px 20px 20px 0px;
    width: 8%;
    }
    }

@media screen and (min-width: 600px) {
    #presentacion__text--grey{
    font-size: 1rem;
    }
    }

@media screen and (min-width: 600px) {
    .progress_box{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    }
    }

@media screen and (min-width: 600px) {
    .progress_box_ind{
    width: 25%;
    margin: 0 0 0 40px;
    }
    }

@media screen and (min-width: 600px) {
    .progress_box_ind_2{
    width: 25%;
    margin: 0 0 0 90px;
    }
    }

@media screen and (min-width: 600px) {
    .h4{
    line-height: 1.4rem;
    font-weight: 400; 
    margin: 0; 
    }
    }

@media screen and (min-width: 600px) {
    .progress_style{
    width: 100%;
    margin: 10px 0px 30px 0;
    }
    }

@media screen and (min-width: 600px) {
    .expLab_box{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    }
    }  

@media screen and (min-width: 600px) {
    .text_box{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 45%;
    margin: 20px 5px 20px 40px;
    padding: 0 20px 0 0;
    }
    } 

@media screen and (min-width: 600px) {
    .titulo_exp{
    padding: 0px 0px 5px 0;
    }
    } 

@media screen and (min-width: 600px) {
    .img_contacto{
    margin: 30px 0 30px 0px;
    }
    } 
    
    @media screen and (min-width: 600px) {
        .img_flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center; 
    }
    }     
   