.btn_base{
    color: rgb(0, 0, 0);
    background: white;
    padding: 20px 20px;
    margin: 30px 0;
    height: 30px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20%;
    &:hover{
       color: grey;
       border-color: grey;
       line-height: 2rem;
       cursor: pointer;
    }
 }
 
 .btn_inactive{
    @extend .btn_base;
    color: grey;
    border-color: grey;
 }
