.btn_base{
    color: rgb(0, 0, 0);
    background: white;
    padding: 20px 80px;
    margin: 30px 0 0 0px;
    height: 30px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 20%;
    &:hover{
       color: grey;
       border-color: grey;
       line-height: 2rem;
       cursor: pointer;
    }
 }
 
 .btn_inactive{
    @extend .btn_base;
    color: grey;
    border-color: grey;
 }

.btn_center_flex{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center; 
}

.btn_center{
   color: rgb(0, 0, 0);
   background: white;
   padding: 10px 60px;
   margin: 20px 0 50px 0;
   border-style: solid;
   border-color: black;
   text-decoration: none;
   
   &:hover{
      color: grey;
      border-color: grey;
      line-height: 2rem;
      cursor: pointer;
   }
}
