@mixin texto($fontSize, $lineHeight, $fontWeight, $color){
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    font-weight: $fontWeight;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;   
 }
 
 .p{
    @include texto(1.9rem, 2rem, 400, black);
    background-color: rgb(255, 255, 255);
 }

 @mixin d-flex($justify, $align, $direction){
   display: flex;
   justify-content: $justify;
   align-items: $align;
   flex-direction: $direction;
 }
 
 .box{
   @include d-flex(center, flex-end, column);
   background: black;
   border: solid 2px black;
 }

 @mixin h2($lineHeight, $padding, $margin){
  line-height: $lineHeight;
  padding: $padding;
  margin: $margin;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
 }

.h2_galeria{
  @include h2(1.5rem, 0px 10px 0px 0px, 20px 0px 5px 0px);
  color: black;
} 

